<a href="https://colab.research.google.com/github/itscyh/Introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
print("123")

123

In [2]:
i = range(5)

In [3]:
print(type(i))

<class 'range'>

In [4]:
print(i)

range(0, 5)

In [5]:
print(list(i))

[0, 1, 2, 3, 4]

In [7]:
a = range(3, 8)
print(list(a))

[3, 4, 5, 6, 7]

In [8]:
b = range(-2, 4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [10]:
c = range(3, 8)
print(list(c))

[3, 4, 5, 6, 7]

In [11]:
d = range(3,8,2)
print(list(d))

[3, 5, 7]

In [12]:
e = range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [13]:
f = range(0,9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
g = range(1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
h = range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [16]:
i = range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [17]:
for n in range(3):
    print(n)

0
1
2

In [18]:
for n in range(10):
    print(n, end=",")

0,1,2,3,4,5,6,7,8,9,

In [22]:
for n in range(0,11,2):
    print(n, end = ",")

0,2,4,6,8,10,

In [25]:
test = int(input("請輸入一個正整數:"))
for m in range(1,test + 1):
    print(m,end = " ")

請輸入一個正整數:10
1 2 3 4 5 6 7 8 9 10

In [29]:
sum = 0
for n in range(3):
   sum = sum + n
print(sum)

3

In [30]:
sum = 0
for n in range(10,1,-2):
  sum = sum+n
print(sum)

30

In [32]:
test = int(input("請輸入一個正整數:"))
sum = 0
for m in range(1,test + 1):
  sum = sum + m
print(sum)

請輸入一個正整數:50
1275

In [33]:
test = int(input("請輸入一個正整數"))
sum = 0
for n in range (1,test+1,1):
  sum = sum+n
  print("1到",n,"的整數合為：",sum)

請輸入一個正整數10
1到 1 的整數合為： 1
1到 2 的整數合為： 3
1到 3 的整數合為： 6
1到 4 的整數合為： 10
1到 5 的整數合為： 15
1到 6 的整數合為： 21
1到 7 的整數合為： 28
1到 8 的整數合為： 36
1到 9 的整數合為： 45
1到 10 的整數合為： 55